/* Navbar */
.my-navbar{
        background-color: #1e3b6e;
}
.my-navbar-item{
        color: seashell !important;
}
/* Login &Register */
.my-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-image: radial-gradient(#dedede,#94bbe9); */
        justify-content: center;
        height: 100vh;
    }
    .form-component {
        text-align: center;
        background-color:#fff;
        width: 700px;
        margin: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-radius: 10px;
    }
    .form-title {
        font-size: 25px;
        font-weight: bolder;
    }
    input,select,textarea,option{
        padding: 10px;
        border-radius: 5px;
}
.my-button{
        background-color:#1e3b6e;
        padding: 10px 5px;
        border-radius: 20px;
        color: #fff;
        opacity: 0.8;
}
.my-button:hover{
        opacity: 1;
}
.button-groups{
        gap: 2rem;
}
/* Profile */
.profile-details{
        padding: 20px;
        width: 500px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        background-color: lightyellow;
}
.profile-item{
        margin-bottom: 20px;
}
.profile-title{
        text-align: center;
}
/* MyRecipe */
.recipe{
        margin: 80px;
}
.recipe-gallery{
        display: grid;
        grid-template-columns: auto auto auto;
}
.recipe-card{
        border-radius: 10px;
        background-color: lightyellow;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        margin: 10px;
        width: 350px;
        padding: 20px;
}
.recipe-title{
        text-align: center;
        text-transform: uppercase;
}
.recipe-img{
        width: 100%;
        border-radius: 10px;
        height: 250px;
}
.recipe-actions{
        display: flex;
        justify-content: space-evenly;
}
.recipe-desc{
        color: white;
}
.recipe-view{
        overflow-y: scroll;
}
/* ViewRecipes */
.my-boundary{
        height:75vh;
        padding: 10px;
        overflow: auto;
}
.my-border{
        border:3px solid #1e3b6e;
        background-color: aliceblue;
        border-radius:10px;
}
/* Home */
.my-logo{
        height: 150px;
        width: 150px;
}
.credential{
        display: flex;
        justify-content:space-between;
        margin: 20px;
}
/* ViewRecipe */
.view-recipe{
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
}
.view-recipe-img{
        height: 400px;
        width: 400px;
}
.view-recipe-box{
        display: grid;
        grid-template-columns: auto auto;
}
@media (max-width: 576px) {
        #submenu1,
        #submenu2,
        #submenu3,
        #submenu4 {
          display: none;
        }
      
        [data-bs-toggle="collapse"]:checked + ul {
          display: block !important;
        }
      }
      @media screen and (max-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
        .welcome-text{
                font-size: 20px;
                font-family: cursive;
        } 
        .form-component {
                text-align: center;
                background-color:#fff;
                width: 350px;
                margin-top: 80px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 10px;
            }
            .form-title {
                font-size: 25px;
                font-weight: bolder;
            }
            .home-text{
                text-align: center;
            }
            .profile-details{
                padding: 20px;
                width: 300px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                background-color: seashell;
        }
        .recipe{
                margin: 80px 20px 20px 20px;
        }
        .recipe-gallery{
                display: grid;
                grid-template-columns: auto;
                overflow: auto;
        }
        .recipe-card{
                width: 300px;
        }
        .view-recipe{
                margin-top: 80px;
                height: 500px;
                overflow: auto;
        }
        .view-recipe-box{
                display: grid;
                grid-template-columns: auto;
        }
        .view-recipe-img{
                height: 200px;
                width: 100%;
        }
        .my-home{
                font-size: 10px;
                text-align: center;
        }
        .credential{
                font-size: 15px;
        }
}